/*CSS Variables*/

:root {
  --main-accent-light: #dacffc;
  --main-accent-dark: 	#7650dc;
  --second-accent-light: 	#f9eee1;
  --second-accent-dark: #ffcb6b;
  --neutral-light: #FFF;
  --neutral-dark: #000;
}

/*Utility Classes*/

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-accent-dark-bg {
  background-color: var(--main-accent-dark);
  color: var(--neutral-light);
}

.secondary-dark-text {
  color: var(--second-accent-dark);
}

.card {
  border-radius: .5rem;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.narrow-content-container {
  width: 75%;
  flex-direction: column;
  padding: 2.25rem 0;
}

.wide-content-container {
  width: 90%;
  flex-direction: column;
}

/*Mobile Styling*/

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem 0;
}

img {
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
}

h1 {
  font-weight: 400;
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
  margin: 0 0 1.5rem 0;
}

.stars {
  width: 75%;
}

p {
  font-size: 1.125rem;
  margin: .5rem 0 0 0 ;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
