/*CSS Variables*/

:root {
  --main-accent-light: #dacffc;
  --main-accent-dark: 	#7650dc;
  --second-accent-light: 	#f9eee1;
  --second-accent-dark: #ffcb6b;
  --neutral-light: #FFF;
  --neutral-dark: #000;
}

/*Utility Classes*/

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-accent-dark-bg {
  background-color: var(--main-accent-dark);
  color: var(--neutral-light);
}

.second-accent-dark-bg {
  background-color: var(--second-accent-dark);
}

.main-accent-text {
  color: var(--main-accent-dark);
}

.secondary-dark-text {
  color: var(--second-accent-dark);
}

.card {
  border-radius: .5rem;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.narrow-content-container {
  width: 75%;
  flex-direction: column;
  padding: 2.25rem 0;
}

.wide-content-container {
  width: 90%;
  flex-direction: column;
  padding-top: 2rem;
}

/*Mobile Styling*/

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem 0;
}

img {
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
}

h1 {
  font-weight: 400;
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
  margin: 0 0 1.5rem 0;
}

.stars {
  width: 75%;
}

p {
  font-size: 1.125rem;
  margin: .5rem 0 0 0 ;
}

/*Second Card - Mobile*/

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.social-card-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social-card {
  gap: .75rem;
  box-shadow: -2px 5px 10px rgba(0, 0, 0, .1);
  padding: .75rem;
  border-radius: 2rem;
}

.fa-brands {
  font-size: 1.5rem;
  padding: .5rem;
  border-radius: 50%;
}

.social-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: .25rem;
}

.handle {
  font-weight: 700;
}

.followers {
  font-size: .75rem;
  opacity: .25;
  font-weight: 500;
}

/*Third card - Mobile*/

.third-card-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-image: url("../images/illustration-consistent-schedule.webp");
  background-size: 70%;
  background-position: left 5% bottom -1.25rem;
  background-repeat: no-repeat;
}

.third-card-container h2 {
  padding-bottom: 8.5rem;
}
